<!DOCTYPE html>
<html lang ="en">
{% load static %}
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Netflix - {% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'output.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    {% block others %}
    
    {% endblock others %}
</head>
<!--<body class="bg-black text-gray-100 font-primary">-->
<body>
{% block content %}
    

{% endblock content %}

<script>
    const nav = document.querySelector('nav')
    
    document.addEventListener("scroll", e=>{

        if(scrollY>100){
            nav.classList.add('bg-gray-900')
        }else{
            nav.classList.remove('bg-gray-900')
        }
    })
</script>

</body>
</html>